﻿@{
    ViewData["Title"] = "Log in";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="container page-container">
    <form class="needs-validation p-2" novalidate>
        <div class="mb-1">
            <a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=@Uri.EscapeDataString(@Configuration["Twitch:ClientId"])&redirect_uri=@Uri.EscapeDataString(Url.Action("TwitchLogin", "Login", null, Context.Request.Scheme))&scope=user%3Aread%3Aemail%20moderator%3Aread%3Achatters%20channel%3Aread%3Asubscriptions" role="button" class="btn btn-primary mt-2">
                <i height="18" width="18" class="d-inline-block" style="height: 18px; width: 18px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#7212ff" d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z"></path></svg></i>
                <span>Log in with Twitch</span>
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        (function () {
            showMessagesFromUrl();
        })();
    </script>
}